<%= stylesheet_link_tag    'game', media: 'all', 'data-turbolinks-track' => true %>
<%if @dev != true%>
<script src="/js/in_game_action.js"></script>
<script src="/js/in_game_socket.js"></script>
<script src="/js/in_game.js"></script>
<%else%>
<script>
$(document).ready(function(){
  $('.users').removeClass('ready')  
})
</script>
<%end%>

<div class="users ready">
    <div class="section">
        <div class="user1">
        <img src='<%= asset_path 'boy1.png'%>' alt='boy1'/>
        <div class="player_username">

        </div>
        </div>
        <div class="user2">
        <img src='<%= asset_path 'boy2.png'%>' alt='boy2'/>
        <div class="player_username">

        </div>
        </div>
    </div>
    <div class="section">
        <div class="user3">
        <img src='<%= asset_path 'girl1.png'%>' alt='girl1'/>
        <div class="player_username">
        </div>
        </div>

        <div class="user4">
        <img src='<%= asset_path 'girl2.png'%>' alt='boy2'/>
        <div class="player_username">
        </div>
        </div>
    </div>
    <div class="section">
        <div class="user5">
        <img src='<%= asset_path 'boy1.png'%>' alt='boy1'/>
        <div class="player_username">
        </div>
        </div>

        <div class="user6">
        <img src='<%= asset_path 'boy1.png'%>' alt='boy1'/>
        <div class="player_username">
        </div>
        </div>
    </div>
    <div class="section">
        <div class="ready">
            <button id="readybutton">Ready?</button>
        </div>
    </div>
</div>

<div class="container">
<div class="top">
    <h1>Topic</h1>
    <div class="center">
        <div id="askuser">
            <img src='<%= asset_path 'girl1.png'%>' alt='girl1'/>
        </div>
        <div class="timer">
            <!--  <div id="log"></div> -->
            <div id="bar_bg">
                <div id="bar"> 
                    <img src="images/arrow_bg.png"><img src="images/arrow_bg.png"><img src="images/arrow_bg.png"><img src="images/arrow_bg.png"><img src="images/arrow_bg.png"><img src="images/arrow_bg.png">
                </div>
            </div>
        </div>
        <div id="answeruser">
            <img src='<%= asset_path 'girl1.png'%>' alt='girl1'/>
        </div>
    </div>
</div>

<div class="middle">    
    <div id="personal_card">
      <p id="text">
         Hello World!
      </p>
  <div id="personal_card_img">
            <img id="p_card_img" src="<%= asset_path 'card_image.png'%>" alt='happiness'>
        </div>
  <!--- <div class="personal_card_name"></div>
        <h1>행복</h1>

        <div class="personal_card_desc">
        <p>가치관, 인생, 대학생활 등  </p>
        </div>  --->
    </div>
</div>
<div class="bottom">    
    <div class="button">
        질문중 · · ·
    </div>
</div>
</div>


