<%= stylesheet_link_tag    'game', media: 'all', 'data-turbolinks-track' => true %>

<script>
var my_player_id = <%=current_user.player.id%>
</script>

<%if @dev != true%>
<script src="/js/in_game_action.js"></script>
<script src="/js/in_game_socket.js"></script>
<script src="/js/in_game.js"></script>
<%else%>
<script>
$(document).ready(function(){
  $('.users').removeClass('ready')  
})
</script>
<%end%>
<link rel="stylesheet" type="text/css" href="/css/slider.css">
<script src="/js/slider.js"></script>

<div class="users ready">
    <div class="section">
        <div class="user1">
        <img src='<%= asset_path 'boy1.png'%>' alt='boy1'/>
        <div class="player_username">

        </div>
        </div>
        <div class="user2">
        <img src='<%= asset_path 'boy2.png'%>' alt='boy2'/>
        <div class="player_username">

        </div>
        </div>
    </div>
    <div class="section">
        <div class="user3">
        <img src='<%= asset_path 'girl1.png'%>' alt='girl1'/>
        <div class="player_username">
        </div>
        </div>

        <div class="user4">
        <img src='<%= asset_path 'girl2.png'%>' alt='boy2'/>
        <div class="player_username">
        </div>
        </div>
    </div>
    <div class="section">
        <div class="user5">
        <img src='<%= asset_path 'boy1.png'%>' alt='boy1'/>
        <div class="player_username">
        </div>
        </div>

        <div class="user6">
        <img src='<%= asset_path 'boy1.png'%>' alt='boy1'/>
        <div class="player_username">
        </div>
        </div>
    </div>
    <div class="section">
        <div class="ready">
            <button id="readybutton">Ready?</button>
        </div>
    </div>
</div>

<div class="container">
<div class="top">
    <h1>Topic</h1>
    <div class="center">
        <div id="askuser">
            <img src='<%= asset_path 'girl1.png'%>' alt='girl1'/>
        </div>
        <div class="timer">
            <main role="main" data-slider-color="slider-lightBlue">
             <section>
                <div class="wrap">
                  <div class="holder">
                    <div class="demo">
                      <div class="rkmd-slider slider-discrete slider-lightBlue">
                        <input type="range" min="0" max="100" value="0" invert="false">
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </main>
        </div>
        <div id="answeruser">
            <img src='<%= asset_path 'girl1.png'%>' alt='girl1'/>
        </div>
    </div>
</div>

<div class="middle">    
    <div id="personal_card">
     
        <div id="personal_card_bg">
            <img id="p_card_img" src="<%= asset_path 'card_bg.jpg'%>" alt='happiness'>
        </div>
        <div class="p_card_name">
            <span id = "text_name">이별</span>
        </div>
        <div class="p_card_content">
            <span id = "text_content">어린시절 당신의 첫이별은<br> 어떠했나요?</span>
        </div>
        <div class="p_card_img">
            <img id="card_image" src="<%= asset_path 'card_image.jpg'%>" alt='img'>
        </div>
        <div class="p_card_num">
            <span id = "text_num">1</span>
        </div>
        
    </div>
</div>
<div class="bottom">    
    <div class="button">
        질문중 · · ·
    </div>
</div>
</div>


