<!DOCTYPE html>

<html>
    <meta charset= "utf-8">
<head>
    <title>Icebreaker</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'game', media: 'all', 'data-turbolinks-track' => true %>
    
    <div class="users">
            <div class="user1">
            <img src='<%= asset_path 'boy1.png'%>' alt='boy1'/>
            <br>
            lv.1
            Myang
            </div>
            
            <div class="user2">
            <img src='<%= asset_path 'boy2.png'%>' alt='boy2'/>
            <br>
            lv.1
            Myang
            </div>
            
            <div class="user3">
            <img src='<%= asset_path 'girl1.png'%>' alt='girl1'/>
            <br>
            lv.1
            Myang
            </div>
            
            <div class="user4">
            <img src='<%= asset_path 'girl2.png'%>' alt='boy2'/>
            <br>
            lv.1
            Myang
            </div>
            
            <div class="user5">
            <img src='<%= asset_path 'boy1.png'%>' alt='boy1'/>
            <br>
            lv.1
            Myang
            </div>
            
            <div class="user6">
            <img src='<%= asset_path 'boy1.png'%>' alt='boy1'/>
            <br>
            lv.1
            Myang
            </div>
        </div>
    
</head>    
<body>
    <div class="container">
        
        <div class="common_card">
            
            <div class="common_card_name"></div>
              
            <div class="common_card_img">
            <%= image_tag 'timer.png', :alt=> 'timer' %>
            </div>
        
            <div class="common_card_desc"></div>
        </div>
        
        <div class="timer">
            <%= image_tag 'timer.png', :alt=> 'timer' %>
        </div>
        
        <div class="personal_card">
            
            <div class="personal_card_name"></div>
            
            <div class="personal_card_img">
            <%= image_tag 'timer.png', :alt=> 'timer' %>
            </div>
            
            <div class="personal_card_desc"></div>
            
        </div>
        
    </div>
</body>
    
    

    
</html>