<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Melting Talk</title>
  <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</body>
</html>
